<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>YOYOW平台接入概述.md</key>
			<dict>
				<key>lastModification</key>
				<real>547011542.70149696</real>
				<key>version</key>
				<dict>
					<key>2dcec67ecdb242b10a605c59ee0c4dccaf4c79a18b2c6890cbdba842127379d7</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>YOYOW平台接入概述.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2dcec67ecdb242b10a605c59ee0c4dccaf4c79a18b2c6890cbdba842127379d7</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
